/*Card*/
.card {
   background-color: var(--bg-two);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: rgba(0, 0, 0, .8);
}

.card p {
   text-align: left;
   font-size: var(--font-size-small);
   color: rgba(0, 0, 0, .6);
}

.card span {
   font-size: var(--font-size-base);
   color: var(--text-secondary);
}

.card img {
   height: 270px;
   object-fit: cover;
   width: 100%;
}