
@media screen and (max-width: 720px) {
   #hero .two-columns-flex {
      gap: 0;
   }

   #hero .two-columns-flex>div {
      padding-bottom: 0;
   }
}


#hero img {
   object-fit: cover;
   width: 100%;
}

.page-nav {
   align-items: flex-start;
   justify-content: flex-start;
   gap: 2rem;
   position: -webkit-sticky;
   position: initial;
   top: 0;
   background-color: white;
   border-bottom-right-radius: 1rem;
   border-bottom-left-radius: 1rem;
   box-shadow: 0 15px 12px rgba(34, 34, 34, 0.02); 
   padding: 2rem 0;
   z-index: 10;
         width: 80%;
      margin: 0 auto;
}

.page-nav a {
   display: block;
   width: 100%;
}

.page-nav .btn {
   margin-left: 0;
}

   #video iframe{
      display: block;
      width: 100%;
   }
iframe {
   width: 100%;
}

#form-error {
   color: red;
   margin-top: 1rem;
   font-size: smaller;
   display: none;
}

#form-error.visible {
   display: block;
}

@media screen and (min-width: 720px) {

}

#map-wrapper {
   width: 100%;
}
@media screen and (min-width: 720px) {

   #hero {
      text-align: left;
   }

   .about-us>div {
      justify-self: center;
   }
   
}

@media screen and (min-width: 1024px) {


   #hero {
      height: auto;
      flex-direction: row;
      justify-content: space-around;
   }

 


   #map-wrapper {
      width: 50%;
   }

}

@media screen and (min-width: 1280px) {

     .page-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: sticky;
      white-space: nowrap;
   }

   .page-nav .btn {
      margin-left: 2rem;
   }

}

