.content {
   max-width: 80vw;
   margin: 0 auto;
}

.two-columns-flex, .three-columns-flex {
   display: inline-flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.two-columns-flex > div, .three-columns-flex > div {
   flex: 0 0 100%;
   margin: 1rem 0;
}



@media screen and (min-width: 720px) {

   .three-columns-flex {
      justify-content: center;
   }

   .three-columns-flex > div, 
   .two-columns-flex > div {
      flex: 0 0 calc(50% - 1rem/2);
   }
}

@media screen and (min-width: 1024px) {

 
   .three-columns-flex > div {
      gap: 3rem;
      flex: 0 0 calc(33.333% - 2rem/3);
   }
}