/* table */

td {
   font-size: 18px;
   padding: .5rem;
   /* border: solid 2px rgb(0, 96, 67); */
   border: 1px solid white;
   font-weight: 500;
}

tr {
   text-align: left;
}

@media screen and (min-width: 720px) {
   td {
      font-size: 24px;
   }
}


@media scree and (min-width: 1024px) {
   table {
      background-color: transparent;
   }
}